.title {
  font-size: 45px;
}

.text {
  font-size: 20px;
  margin: 0;
}
.link {
  font-size: 45px;
  list-style: none;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 600;
}

.videoWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
.lessonWrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
}

.titleLesson {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #001677e7;
  padding: 10px 20px;
  border-radius: 20px;
  width: 75%;
  margin: 0 auto;
}

.textLesson {
  font-size: 25px;
  font-weight: 400;
  color: red;
}
.progressWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  align-items: center;
}
.progress {
  width: 50%;
}
@media (min-width: 780px) {
  .lessonWrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px;
  }
  .titleLesson {
    font-size: 40px;
    width: 90%;
  }
  .videoWrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
