.container {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: linear-gradient(45deg, #7f6ccc, #4b2bca, #110446);
  background-size: 400% 400%;
  animation: bgLinear 25s ease infinite;
  padding: 10px;
  justify-content: space-between;
}
@media (min-width: 780px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
}

.nav {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #fff;
}
@keyframes bgLinear {
  0 {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.link {
  font-size: 30px;
  color: rgb(255, 249, 249);
}

.title {
  font-size: 50px;
}
.text {
  color: black;
}
