@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  text-decoration: underline;
  font-weight: 700;
}
li {
  list-style: none;
}
h3 {
  font-family: 'DM Serif Display', serif;
}
a {
  text-decoration: none;
}
